
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color" th:fragment="header">

	<!-- Navbar brand -->
	<a class="navbar-brand" href="#">AMS Cambo</a>

	<!-- Collapse button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#basicExampleNav" aria-controls="basicExampleNav"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Collapsible content -->
	<div class="collapse navbar-collapse" id="basicExampleNav">

		<!-- Links -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="/"
				th:text="#{app.homepage}">Home <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/addData"
				th:text="#{app.addarticle}">Add Article</a></li>
			<li class="nav-item"><a class="nav-link" href="/category/"
				th:text="#{app.category}">Category</a></li>

			<!-- Dropdown -->
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
				th:text="#{app.language}">Language</a>
				<div class="dropdown-menu dropdown-primary"
					aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="/?lang=kh"><img
						src="img/images/khmer-flag.png" style="width: 50px; height: 30px;">
						ភាសាខ្មែរ</a> <a class="dropdown-item" href="/?lang=en"><img
						src="img/images/england-flag.png"
						style="width: 50px; height: 30px;"> English</a>
				</div></li>

		</ul>
		<!-- Links -->

		<form class="form-inline">
			<div class="md-form my-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search"
					aria-label="Search">
			</div>
		</form>
	</div>
	<!-- Collapsible content -->

</nav>
<!--/.Navbar-->