<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Material Design Bootstrap</title>
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="../css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="../css/style.css" rel="stylesheet">
</head>

<body>

	<!-- Start your project here-->
	<div th:replace="html/fragment/article_fragment/header :: header"></div>


	<article>
		<div class="jumbotron"
			style="text-align: center; background-color: lightblue;">
			<h1 th:text="#{app.title}"></h1>
		</div>
		
				<!-- Material form contact -->
		<form style="width: 70%; margin: auto;" action="#" th:action="@{/category/addcategory}" th:object="${student}" method="post" enctype="multipart/form-data">
			<p class="h4 text-center mb-4">Add Category</p>

			<!-- Default input -->
			<div class="form-group">
				<label for="formGroupExampleInput">Name</label> <input
					type="text" class="form-control" id="formGroupExampleInput"
					placeholder="Content" name="name">
			</div>
			
			<!-- Default input -->
			<div class="form-group">
				<label for="formGroupExampleInput">Description</label> <input
					type="text" class="form-control" id="formGroupExampleInput"
					placeholder="Description" name="description">
			</div>
			<br>
			<div class="text-center mt-4">
				<button class="btn btn-outline-secondary" type="submit">
					Add Category<i class="fa fa-paper-plane-o ml-2"></i>
				</button>
			</div>
		</form>
		<!-- Material form contact -->
		
	</article>
	
	<div th:replace="html/fragment/footer :: footer"></div>
	

	<!-- /Start your project here-->

	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="../js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="../js/mdb.min.js"></script>
</body>

</html>
