<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Material Design Bootstrap</title>
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="../css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="../css/style.css" rel="stylesheet">
</head>

<body>

	<!-- Start your project here-->

	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark primary-color">

		<!-- Navbar brand -->
		<a class="navbar-brand" href="#">AMS Cambo</a>

		<!-- Collapse button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#basicExampleNav" aria-controls="basicExampleNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="basicExampleNav">

			<!-- Links -->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/" th:text="#{app.homepage}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/category/addcategory" th:text="#{app.addcategory}">Add
						Category</a></li>
						
				<!-- Dropdown -->
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{app.language}">Language</a>
					<div class="dropdown-menu dropdown-primary"
						aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/?lang=kh"><img
							src="../img/images/khmer-flag.png"
							style="width: 50px; height: 30px;"> ភាសាខ្មែរ</a> <a
							class="dropdown-item" href="/?lang=en"><img
							src="../img/images/england-flag.png"
							style="width: 50px; height: 30px;"> English</a>
					</div></li>

			</ul>
			<!-- Links -->

			<form class="form-inline">
				<div class="md-form my-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search" aria-label="Search">
				</div>
			</form>
		</div>
		<!-- Collapsible content -->

	</nav>
	<!--/.Navbar-->


	<div class="card card-cascade narrower mt-5">
		<h1 style="text-align: center; padding-top: 50px;"
			th:text="#{app.title}">ARTICLE MAGEMENT SYSTEM</h1>
		<!--Card image-->
		<div
			class="view view-cascade gradient-card-header purple-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">

			<h4 class="white-text font-weight-bold text-uppercase mb-0">Table
				name</h4>

		</div>
		<!--/Card image-->

		<div class="px-4">

			<!--Table-->
			<table class="table table-hover table-responsive-md mb-0">

				<!--Table head-->
				<thead>
					<tr>
						<th scope="row" th:text="#{app.id}"></th>
						<th class="th-lg" th:text="#{app.name}"></th>
						<th class="th-lg" th:text="#{app.description}"></th>
						<th class="th-lg" th:text="#{app.action}"></th>
					</tr>
				</thead>
				<!--Table head-->

				<!--Table body-->
				<tbody>
					<tr th:each="category:${categories}">
						<th th:text="${category.getId()}" >1</th>
						<td th:text="${category.getName()}">Mark</td>
						<td th:text="${category.getDescription()}">Otto</td>
						<td> 
							<a th:href="@{/category/updatecategory/{id}(id=${category.getId()})}"> <img alt="update"
								src="../img/images/icons/update.png"
								style="width: 30px; height: 30px;">
							</a>&nbsp;&nbsp; 
							<a th:href="@{/category/deletecategory/{id}(id=${category.getId()})}"> <img
								alt="delete"
								src="../img/images/icons/delete.png"
								style="width: 30px; height: 30px;">
							</a>
						</td>
					</tr>
				</tbody>
				<!--Table body-->
			</table>

		</div>

		<hr class="my-0">

		<!--Bottom Table UI-->
		<div class="d-flex justify-content-center">

			<!--Pagination -->
			<nav class="my-4 pt-2">
				<ul class="pagination pagination-circle pg-purple mb-0">

					<!--First-->
					<li class="page-item disabled clearfix d-none d-md-block"><a
						class="page-link">First</a></li>

					<!--Arrow left-->
					<li class="page-item disabled"><a class="page-link"
						aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
					</a></li>

					<!--Numbers-->
					<li class="page-item active"><a class="page-link">1</a></li>
					<li class="page-item"><a class="page-link">2</a></li>
					<li class="page-item"><a class="page-link">3</a></li>
					<li class="page-item"><a class="page-link">4</a></li>
					<li class="page-item"><a class="page-link">5</a></li>

					<!--Arrow right-->
					<li class="page-item"><a class="page-link" aria-label="Next">
							<span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
					</a></li>

					<!--First-->
					<li class="page-item clearfix d-none d-md-block"><a
						class="page-link">Last</a></li>

				</ul>
			</nav>
			<!--/Pagination -->

		</div>
		<!--Bottom Table UI-->

	</div>


	<div th:replace="html/fragment/footer :: footer"></div>
	

	<!-- /Start your project here-->

	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="../js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="../js/mdb.min.js"></script>
</body>

</html>
