<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Material Design Bootstrap</title>
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="/css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="/css/style.css" rel="stylesheet">
</head>

<body>

	<!-- Start your project here-->
	<div th:replace="html/fragment/article_fragment/header :: header"></div>

	<article>

		<div class="jumbotron"
			style="text-align: center; background-color: lightblue;">
			<h1 th:text="#{app.title}"></h1>
		</div>
		<!-- Default form group -->
		<div style="width: 70%; margin: auto;">
			<form action="#" th:action="@{/category/updatecatagory}" th:object="${article}"
				method="post" enctype="multipart/form-data">
				<!-- Default input -->
				<div class="form-group">
					<label for="formGroupExampleInput">ID</label> <input type="text"
						class="form-control" id="formGroupExampleInput" placeholder="ID"
						th:value="${category.getId()}" readonly name="id">
				</div>

				<!-- Default input -->
				<div class="form-group">
					<label for="formGroupExampleInput">Name</label> <input type="text"
						class="form-control" id="formGroupExampleInput"
						placeholder="Content" th:value="${category.getName()}" name="name">
				</div>
				<!-- Default input -->
				<div class="form-group">
					<label for="formGroupExampleInput">Description</label> <input
						type="text" class="form-control" id="formGroupExampleInput"
						placeholder="Description" th:value="${category.getDescription()}"
						name="description">
				</div>

				<div class="col-auto" style="margin: auto;">
					<button type="submit" class="btn btn-primary mb-0">Save</button>
				</div>
			</form>
		</div>
		<!-- Default form group -->
	</article>


	<div th:replace="html/fragment/footer :: footer"></div>
	

	<!-- /Start your project here-->

	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>
