<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Material Design Bootstrap</title>
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="../css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="../css/style.css" rel="stylesheet">
</head>

<body>

	<!-- Start your project here-->
	<div th:replace="html/fragment/article_fragment/header :: header"></div>
	<article>

		<div class="jumbotron"
			style="text-align: center; background-color: lightblue;">
			<h1 th:text="#{app.title}"></h1>
		</div>
		<!-- Default form group -->
		<div style="width: 70%; margin: auto;">
			<form action="#" th:action="@{/updateData}"
				th:object="${category}" method="post" enctype="multipart/form-data">
				<!-- Default input -->
				<div class="form-group">
					<label for="formGroupExampleInput">ID</label> <input type="text"
						class="form-control" id="formGroupExampleInput" placeholder="ID"
						th:value="${article.getId()}" readonly name="id">
				</div>

				<!-- Default input -->
				<div class="form-group">
					<label for="formGroupExampleInput">Content</label> <input
						type="text" class="form-control" id="formGroupExampleInput"
						placeholder="Content" th:value="${article.getContent()}"
						name="content">
				</div>
				<!-- Default input -->
				<div class="form-group">
					<label for="formGroupExampleInput">Description</label> <input
						type="text" class="form-control" id="formGroupExampleInput"
						placeholder="Description" th:value="${article.getDescription()}"
						name="description">
				</div>

				<div class="form-group">
					<label>Category</label> <select
						class="mdb-select colorful-select dropdown-primary"
						style="width: 100%; height: 40px;" name="category.id">
						<option th:each="category:${categories}" th:object="${category}"
							th:value="*{id}" th:text="${category.getName()}" th:selected="(*{id} == ${article.getCategory().getId()})"></option>
					</select>
				</div>

				<!-- Default input -->
				<div class="form-group">
					<label for="formGroupExampleInput">Author</label> <input
						type="text" class="form-control" id="formGroupExampleInput"
						placeholder="Author" th:value="${article.getAuthor()}"
						name="author">
				</div>
				<!-- Default input -->
				<div class="form-group">
					<label for="formGroupExampleInput">Created Date</label> <input
						type="text" class="form-control" id="formGroupExampleInput"
						placeholder="Content" th:value="${article.getCreateDate()}"
						name="createDate">
				</div>

				<label>Picture</label>
				<div class="file-field" style="margin-bottom: 25px;">
					<a class="btn-floating peach-gradient mt-0 float-left"> <i
						class="fa fa-paperclip" aria-hidden="true"></i> <input type="file"
						name="file" th:value="${article.getImage()}">
					</a>
				</div>
				<div class="col-auto" style="margin: auto;">
					<button type="submit" class="btn btn-primary mb-0">Save</button>
				</div>
			</form>
		</div>
		<!-- Default form group -->
	</article>



	<div th:replace="html/fragment/footer :: footer"></div>
	

	<!-- /Start your project here-->

	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="../js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="../js/mdb.min.js"></script>
</body>

</html>
