<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Material Design Bootstrap</title>
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="../css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="../css/style.css" rel="stylesheet">
</head>

<body>

	<!-- Start your project here-->

	
	<div th:replace="html/fragment/article_fragment/header :: header"></div>

	<article>
		<div class="jumbotron"
			style="text-align: center; background-color: lightblue;">
			<h1 th:text="#{app.title}"></h1>
		</div>
		
		<div class="row" style="width: 80%; margin: auto;">
			<div class="col-xl-6 col-md-6 col-lg-6" >
				<img th:src="${'/images/'+article.getImage()}" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image" width="400px" height="400px">
			</div>
			<div class="col-xl-6 col-md-6 col-lg-6">
								
				<table class="viewtable">
					<tr>
						<td style="viewtable"><h4>ID : </h4></td>
						<td><h4  th:text="${article.getId()}"></h4></td>
					</tr>
					<tr>
						
						<td style="viewtable"><h4>Content : </h4></td>
						<td><h4  th:text="${article.getContent()}"></h4></td>
					</tr>
					<tr>
						
						<td style="viewtable"><h4>Category : </h4></td>
						<td><h4  th:text="${article.getCategory().getName()}"></h4></td>
					</tr>
					<tr>
						<td style="viewtable"><h4>Description : </h4></td>
						<td><h4  th:text="${article.getDescription()}"></h4></td>
					</tr>
					<tr>
						
						<td style="viewtable"><h4>Author : </h4></td>
						<td><h4  th:text="${article.getAuthor()}"></h4></td>
					</tr>
					<tr>
						
						<td style="viewtable"><h4>Created Date : </h4></td>
						<td><h4  th:text="${article.getCreateDate()}"></h4></td>
					</tr>
				</table>
				
			</div>
		
	</article>
	

	<div th:replace="html/fragment/footer :: footer"></div>
	

	<!-- /Start your project here-->

	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="../js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="../js/mdb.min.js"></script>
</body>

</html>
